Repository pradeepmouli/procxy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["oxfmt", "oxlint --fix"],
  "*.{json,md}": ["oxfmt"]
}

Remove accidentally included files from symlinked directory iox-matter-bridge
  iox-matter-bridge
Due: none

Remove accidentally included files from server directory
  server/2780c89d26a9afacf0ea1fbefe27aa48/events.lastEventNumber
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.__nextNumber__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.__number__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.__features__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.rebootCount
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.totalOperationalHoursCounter
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.network.ble
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.network.operationalPort
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.operationalCredentials.commissionedFabrics
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.parts.aggregator.__number__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.name
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.productId
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.vendorId
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.subscription.subscriptions
  server/2780c89d26a9afacf0ea1fbefe27aa48/sessions.resumptionRecords
  server/bridge/data.discriminator
  server/bridge/data.passcode
  server/bridge/data.productName
  server/bridge/data.productid
  server/bridge/data.uniqueid
  server/bridge/data.vendorid
Due: none

feat(concurrency): add mutex support to avoid race conditions
  .gitignore
Due: none

refactor: remove obsolete data files and clean up server structure
  server/2780c89d26a9afacf0ea1fbefe27aa48/events.lastEventNumber
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.__nextNumber__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.__number__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.__features__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.rebootCount
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.totalOperationalHoursCounter
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.network.ble
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.network.operationalPort
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.operationalCredentials.commissionedFabrics
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.parts.aggregator.__number__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.name
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.productId
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.vendorId
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.subscription.subscriptions
  server/2780c89d26a9afacf0ea1fbefe27aa48/sessions.resumptionRecords
  server/bridge/data.discriminator
  server/bridge/data.passcode
  server/bridge/data.productName
  server/bridge/data.productid
  server/bridge/data.uniqueid
  server/bridge/data.vendorid
Due: none

Update src/parent/procxy.ts
  src/parent/procxy.ts
Due: oxfmt, oxlint --fix

Update specs/enhance/004-add-concurrency-mutex-support-avoid-race/enhancement.md
  specs/enhance/004-add-concurrency-mutex-support-avoid-race/enhancement.md
Due: oxfmt

Update procxy.ts
  src/parent/procxy.ts
Due: oxfmt, oxlint --fix

Update dedup-counter.ts
  tests/fixtures/dedup-counter.ts
Due: oxfmt, oxlint --fix

Update deduplication.test.ts
  tests/integration/deduplication.test.ts
Due: oxfmt, oxlint --fix

Update dedup-utils.ts
  src/parent/dedup-utils.ts
Due: oxfmt, oxlint --fix

Update deduplication.test.ts
  tests/unit/deduplication.test.ts
Due: oxfmt, oxlint --fix

fix: add return type to getDebugLogger function for better type safety
  src/parent/procxy.ts
Due: oxfmt, oxlint --fix

feat: add dedupe support for singleton procxies
  .changeset/all-chicken-fetch.md
Due: oxfmt

fix: correct spelling of 'Procxy' in various files for consistency
  .changeset/all-chicken-fetch.md
  .changeset/brown-forks-make.md
  CHANGELOG.md
  src/child/child-proxy.ts
  src/child/event-bridge.ts
  src/index.ts
  src/parent/ipc-client.ts
  src/parent/procxy.ts
  src/shared/property-utils.ts
Due: oxfmt, oxlint --fix

chore: update version to 0.1.0-alpha.11 and add changelog entry for dedupe support
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: oxfmt

Add skills for Test-Driven Development, Vitest Testing, Git Worktrees, and Writing Plans
  .claude/skills/changesets.md
  .claude/skills/executing-plans.md
  .claude/skills/git-workflow.md
  .claude/skills/github-actions.md
  .claude/skills/systematic-debugging.md
  .claude/skills/test-driven-development.md
  .claude/skills/testing-vitest.md
  .claude/skills/using-git-worktrees.md
  .claude/skills/writing-plans.md
Due: oxfmt

fix: remove unnecessary blank line in release workflow
  .github/workflows/release.yml
Due: none

Add pre-commit and pre-push hooks for linting and type-checking
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: oxfmt

feat: add find-skills agent skill and CLI integration
  .agents/skills/find-skills/SKILL.md
  .claude/skills/find-skills
Due: oxfmt

fix(runtime): improve Bun compatibility and proxy cache stability
  .changeset/pre.json
  .changeset/quick-planes-fix.md
  CHANGELOG.md
  README.md
  package.json
  src/parent/ipc-client.ts
  src/parent/procxy.ts
  tests/unit/ipc-client.test.ts
Due: oxfmt, oxlint --fix

ci: align CI/CD with template-ts standard
  .github/dependabot.yml
  .github/workflows/auto-approve-deps.yml
  .github/workflows/changeset.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/labels.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
Due: none

chore: remove unused template-sync workflow
  .github/workflows/template-sync.md
  .github/workflows/template-sync.yml
Due: oxfmt

chore: standardize git hooks and pnpm config
  .lintstagedrc.json
  package.json
Due: oxfmt

chore: add changeset scripts to package.json
  package.json
Due: oxfmt

chore: bump @typescript/native-preview to 7.0.0-dev.20260219.1
  package.json
  pnpm-lock.yaml
Due: oxfmt

chore: configure @changesets/changelog-github for PR-linked changelogs
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: oxfmt

chore: standardize release.yml on changesets/action@v1
  .github/workflows/release.yml
Due: none

chore: add clean (dist+tsbuildinfo) and prepublishOnly scripts
  package.json
Due: oxfmt

fix: prevent security audit from failing on vulnerabilities found
  .github/workflows/security-audit.yml
Due: none

fix: add changeset-release CI trigger, upgrade changelog-github, remove prepublishOnly
  .github/workflows/ci.yml
  package.json
Due: oxfmt

fix: correct release workflow for OIDC publishing
  .github/workflows/release.yml
Due: none

feat: auto-generate changeset on PR open/update
  .github/workflows/changeset.yml
Due: none

test: validate full CI/CD automation pipeline
  .github/test-run.md
Due: oxfmt

chore: update lockfile for @changesets/changelog-github
  pnpm-lock.yaml
Due: none
