Repository pradeepmouli/procxy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

chore: remove legacy docs scripts and orphan typedoc output
  package.json
  typedoc.json
Due: oxfmt

docs(readme): polish — badges, docs link, canonical structure
  README.md
Due: oxfmt

chore: install @to-skills/vitepress for docs extraction
  package.json
  pnpm-lock.yaml
Due: oxfmt

docs: apply to-skills JSDoc conventions to public API
  apps/docs/.vitepress/typedoc.json
  src/parent/procxy.ts
  src/shared/errors.ts
  src/shared/serialization.ts
  src/types/isomorphism.ts
  src/types/options.ts
  src/types/procxy.ts
Due: oxfmt, oxlint --fix

chore: upgrade spec-kit to v0.7.1 with native workflow engine
  .claude/skills/speckit-analyze/SKILL.md
  .claude/skills/speckit-checklist/SKILL.md
  .claude/skills/speckit-clarify/SKILL.md
  .claude/skills/speckit-constitution/SKILL.md
  .claude/skills/speckit-implement/SKILL.md
  .claude/skills/speckit-plan/SKILL.md
  .claude/skills/speckit-specify/SKILL.md
  .claude/skills/speckit-tasks/SKILL.md
  .claude/skills/speckit-taskstoissues/SKILL.md
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/doctor/scripts/bash/doctor.sh
  .specify/extensions/review/scripts/bash/detect-changed-files.sh
  .specify/extensions/workflows/README.md
  .specify/extensions/workflows/extensions/README.md
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/claude.manifest.json
  .specify/integrations/claude/scripts/update-context.ps1
  .specify/integrations/claude/scripts/update-context.sh
  .specify/integrations/speckit.manifest.json
  .specify/workflows/speckit/workflow.yml
  .specify/workflows/workflow-registry.json
Due: oxfmt

chore(seo): add OG meta, llms.txt, sitemap, fix homepage, robots.txt
  apps/docs/.vitepress/config.ts
  apps/docs/.vitepress/typedoc.json
  apps/docs/public/robots.txt
  package.json
Due: oxfmt, oxlint --fix

fix(docs): add typedoc-plugin-to-skills to docs devDeps for llms.txt generation
  apps/docs/package.json
  pnpm-lock.yaml
Due: oxfmt

fix(docs): correct llmsTxtOutDir path for VitePress public dir
  apps/docs/.vitepress/typedoc.json
  apps/docs/public/llms-full.txt
  apps/docs/public/llms.txt
  apps/docs/skills/procxy-docs/SKILL.md
  apps/docs/skills/procxy-docs/references/classes.md
  apps/docs/skills/procxy-docs/references/functions.md
  apps/docs/skills/procxy-docs/references/types.md
Due: oxfmt

chore: install optimize extension + add copilot/claude context files
  .github/copilot-instructions.md
  .specify/extensions/optimize/.gitignore
  .specify/extensions/optimize/CHANGELOG.md
  .specify/extensions/optimize/LICENSE
  .specify/extensions/optimize/README.md
  .specify/extensions/optimize/catalog-entry.json
  .specify/extensions/optimize/commands/speckit.optimize.learn.md
  .specify/extensions/optimize/commands/speckit.optimize.run.md
  .specify/extensions/optimize/commands/speckit.optimize.tokens.md
  .specify/extensions/optimize/config-template.yml
  .specify/extensions/optimize/extension.yml
  CLAUDE.md
Due: oxfmt

docs: rename @pitfalls to @never, update to typedoc-plugin-to-skills@0.10.0
  README.md
  apps/docs/.vitepress/typedoc.json
  package.json
  pnpm-lock.yaml
  skills/procxy/SKILL.md
  skills/procxy/references/classes.md
  skills/procxy/references/config.md
  skills/procxy/references/functions.md
  skills/procxy/references/types.md
  src/parent/procxy.ts
  src/shared/protocol.ts
  src/shared/serialization.ts
  src/types/procxy.ts
Due: oxfmt, oxlint --fix

fix(ci): pin pnpm to 10.32.0 in all workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
Due: none

docs: eval loop with quality-over-quantity @useWhen, update to 1.0.0
  package.json
  pnpm-lock.yaml
  skills/procxy/SKILL.md
  src/parent/procxy.ts
Due: oxfmt, oxlint --fix

fix: regenerate pnpm-lock.yaml for pnpm 10.32.0
  pnpm-lock.yaml
Due: none

chore(deps): pnpm update
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies to latest
  package.json
  pnpm-lock.yaml
Due: oxfmt

Revert "chore(deps): update dependencies to latest"
  package.json
  pnpm-lock.yaml
Due: oxfmt

fix: regenerate lockfile to match package.json
  pnpm-lock.yaml
Due: none

ci: add automated dep-update and cascade-deps workflows
  .github/workflows/cascade-deps.yml
  .github/workflows/dep-update.yml
Due: none

ci: change dep-update to daily schedule
  .github/workflows/dep-update.yml
Due: none

ci: stagger cascade to 5am ET (before dep-update at 6am)
  .github/workflows/cascade-deps.yml
Due: none

ci: disable fail-fast so Node 20.x runs even if 24.x fails
  .github/workflows/ci.yml
Due: none

ci: use Node 22.x LTS instead of 24.x (pnpm compat issues on 24)
  .github/workflows/ci.yml
Due: none

fix: pin vite >=7.3.2 to resolve 3 CVEs (2 HIGH, 1 MODERATE)
  package.json
  pnpm-lock.yaml
Due: oxfmt

fix: consolidate open PRs — remove local file: overrides, upgrade to Vite 8, update deps and CI actions (#81)
  .changeset/1776957959.md
  .github/workflows/ci.yml
  .github/workflows/dep-update.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  package.json
  pnpm-lock.yaml
Due: oxfmt

ci: add GH_REPO env var to cascade-deps workflow
  .github/workflows/cascade-deps.yml
Due: none

ci: auto-merge github_actions dependabot bumps immediately
  .github/workflows/auto-approve-deps.yml
Due: none

chore: update spec-kit + extensions to latest
  .claude/skills/speckit-specify/SKILL.md
  .claude/skills/speckit-tasks/SKILL.md
  .specify/extensions/.registry
  .specify/extensions/enabled.conf
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/claude.manifest.json
  .specify/integrations/speckit.manifest.json
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/setup-tasks.sh
Due: oxfmt

chore: add graphify knowledge graph config
  CLAUDE.md
Due: oxfmt

chore: pin @typescript/native-preview to beta tag instead of dev snapshot
  apps/docs/package.json
  package.json
Due: oxfmt

fix: resolve oxlint warnings in procxy
  tests/integration/process-options.test.ts
  tests/unit/isomorphism.test.ts
Due: oxfmt, oxlint --fix

chore: update pnpm lockfile to match updated package.json specifiers
  pnpm-lock.yaml
Due: none

fix: include root package in pnpm workspace so changesets can find it
  pnpm-workspace.yaml
Due: none

ci: run CI on pull requests too
  .github/workflows/ci.yml
Due: none

ci: scope push trigger to master, PR trigger to master only
  .github/workflows/ci.yml
Due: none

Path conditions:
  oxfmt: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
