Repository pradeepmouli/procxy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

refactor: rename project to procxy and update documentation
  .specify/memory/constitution.md
  CHANGELOG.md
  README.md
  package.json
  specs/001-procxy-core-library/clarifications.md
  specs/001-procxy-core-library/module-path-research.md
  specs/001-procxy-core-library/spec.md
Due: oxfmt

docs: update module path detection research document
  specs/001-procxy-core-library/module-path-research.md
Due: oxfmt

docs: add implementation plan for Procxy library
  specs/001-procxy-core-library/plan.md
Due: oxfmt

feat: Enhance speckit agents with new workflows and specifications
  .claude/commands/speckit.enhance-constitution.md
  .claude/commands/speckit.incorporate.md
  .codex/commands/speckit.enhance-constitution.md
  .codex/commands/speckit.incorporate.md
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.enhance-constitution.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.incorporate.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/prompts/speckit.enhance-constitution.prompt.md
  .specify/scripts/bash/common.sh
Due: oxfmt

feat: add speckit agents for project constitution, implementation, planning, specification, task generation, and issue conversion
  .claude/commands/speckit.enhance-constitution.md
  .claude/commands/speckit.incorporate.md
  .codex/commands/speckit.enhance-constitution.md
  .codex/commands/speckit.incorporate.md
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.enhance-constitution.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.incorporate.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/prompts/speckit.enhance-constitution.prompt.md
  .specify/scripts/bash/common.sh
Due: oxfmt

docs: update Procxy constitution with API changes, module resolution strategy, and EventEmitter integration
  .specify/memory/constitution.md
Due: oxfmt

docs: update Procxy constitution to clarify core principles and enhance type safety guidelines
  .specify/memory/constitution.md
Due: oxfmt

feat: Add comprehensive task list for Procxy core library implementation
  specs/001-procxy-core-library/tasks.md
Due: oxfmt

feat: Implement JSON serialization validation utilities and Procxy options
  .specify/memory/constitution.md
  package.json
  pnpm-lock.yaml
  specs/001-procxy-core-library/plan.md
  specs/001-procxy-core-library/spec.md
  specs/001-procxy-core-library/tasks.md
  src/child/agent.ts
  src/index.ts
  src/parent/ipc-client.ts
  src/shared/errors.ts
  src/shared/module-resolver.ts
  src/shared/protocol.ts
  src/shared/serialization.ts
  src/types/options.ts
  src/types/procxy.ts
  tests/fixtures/async-worker.ts
  tests/fixtures/broken-worker.ts
  tests/fixtures/calculator.ts
  tests/fixtures/event-worker.ts
  tests/integration/async-methods.test.ts
  tests/integration/basic-invocation.test.ts
  tests/integration/error-propagation.test.ts
  tests/unit/child-proxy.test.ts
  tests/unit/parent-proxy.test.ts
  vitest.config.ts
Due: oxfmt, oxlint --fix

chore: Update devDependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: oxfmt

Add comprehensive tests for Procxy functionality and serialization utilities
  .npmignore
  .prettierignore
  package.json
  specs/001-procxy-core-library/tasks.md
  src/child/agent.ts
  src/child/child-proxy.ts
  src/child/event-bridge.ts
  src/index.ts
  src/parent/ipc-client.ts
  src/parent/parent-proxy.ts
  src/parent/procxy.ts
  src/shared/module-resolver.ts
  src/shared/protocol.ts
  src/types/procxy.ts
  tests/fixtures/event-worker.ts
  tests/fixtures/process-options-worker.ts
  tests/integration/async-methods.test.ts
  tests/integration/basic-invocation.test.ts
  tests/integration/concurrent-calls.test.ts
  tests/integration/constructor-args.test.ts
  tests/integration/error-propagation.test.ts
  tests/integration/event-emitter.test.ts
  tests/integration/lifecycle.test.ts
  tests/integration/process-options.test.ts
  tests/integration/timeouts.test.ts
  tests/unit/child-proxy.test.ts
  tests/unit/jsonifiable-filter.test.ts
  tests/unit/module-resolver.test.ts
  tests/unit/parent-proxy.test.ts
  tests/unit/protocol.test.ts
  tests/unit/serialization.test.ts
  tests/unit/types.test.ts
  tsconfig.json
Due: oxfmt, oxlint --fix

fix(tests): remove unnecessary blank lines in constructor args tests
  tests/integration/constructor-args.test.ts
Due: oxfmt, oxlint --fix

docs: Add GitHub issue template for callback proxy enhancement
  .github/ISSUE_TEMPLATE/callback-proxy-enhancement.md
Due: oxfmt

fix: downgrade oxfmt package versions to 0.20.0 for compatibility
  pnpm-lock.yaml
Due: none

chore: update CI and release workflows, improve code quality and dependencies
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .vscode/mcp.json
  package.json
  pnpm-lock.yaml
  tests/fixtures/broken-worker.ts
  tests/unit/child-proxy.test.ts
  tests/unit/module-resolver.test.ts
  tests/unit/protocol.test.ts
  tsconfig.json
Due: oxfmt, oxlint --fix

fix: resolve syntax error in agent.ts and fix PropertySet type casting
  examples/basic-usage.ts
  examples/error-handling.ts
  examples/event-emitter.ts
  examples/lifecycle.ts
  src/child/agent.ts
  src/child/child-proxy.ts
Due: oxfmt, oxlint --fix

refactor: remove parent-to-child PROPERTY_SET (properties are read-only on parent)
  src/child/agent.ts
  src/child/child-proxy.ts
  src/parent/ipc-client.ts
Due: oxfmt, oxlint --fix

chore: remove deprecated husky shebang lines from pre-commit hook
  .husky/pre-commit
Due: none

Fix wording in README for module resolution feature
  README.md
Due: oxfmt

Update README.md
  README.md
Due: oxfmt

docs: enhance README with property support examples and automatic module resolution
  README.md
Due: oxfmt

feat: add enhancement spec for advanced serialization support
  ENHANCEMENT_SPEC_ADVANCED_SERIALIZATION.md
Due: oxfmt

docs: add advanced serialization, worker threads, and web worker to future enhancements
  README.md
Due: oxfmt

feat: add advanced serialization support with V8 structured clone algorithm
  .specify/scripts/bash/common.sh
  specs/ENHANCEMENT_SPEC_ADVANCED_SERIALIZATION.md
  specs/enhance/001-advanced-serialization-support-v8-structured/enhancement.md
  specs/enhance/001-advanced-serialization-support-v8-structured/spec.md
Due: oxfmt

fix: correct lint-staged configuration for JSON and Markdown files
  .lintstagedrc.json
Due: oxfmt

fix: update lint-staged configuration to include current directory for TypeScript and JavaScript files
  .lintstagedrc.json
Due: oxfmt

feat: add enhancement spec for Deno and Bun runtime support
  ENHANCEMENT_SPEC_RUNTIME_SUPPORT.md
Due: oxfmt

feat: add advanced serialization mode for IPC messages
  src/child/agent.ts
  src/child/child-proxy.ts
  src/index.ts
  src/parent/procxy.ts
  src/shared/protocol.ts
  src/shared/serialization.ts
  src/types/options.ts
  src/types/procxy.ts
  tests/fixtures/BinaryProcessor.ts
  tests/integration/advanced-serialization.test.ts
  tests/unit/v8-serialization.test.ts
Due: oxfmt, oxlint --fix

feat(serialization): mark tasks as complete for V8 serialization support implementation
  specs/enhance/001-advanced-serialization-support-v8-structured/enhancement.md
Due: oxfmt

feat(benchmark): add performance comparison for JSON vs Advanced serialization modes
  README.md
  benchmark/serialization-comparison.ts
Due: oxfmt, oxlint --fix

fix(docs): correct formatting in README for clarity
  README.md
Due: oxfmt

feat: update changelog and version for advanced serialization support
  .changeset/pre.json
  .changeset/wild-crabs-wait.md
  CHANGELOG.md
  package.json
Due: oxfmt

Update CHANGELOG.md
  CHANGELOG.md
Due: oxfmt

Update .changeset/wild-crabs-wait.md
  .changeset/wild-crabs-wait.md
Due: oxfmt

feat(serialization): enhance procxy function with advanced serialization support
  src/parent/procxy.ts
  src/shared/serialization.ts
  tests/integration/advanced-serialization.test.ts
Due: oxfmt, oxlint --fix

feat: Implement advanced serialization with handle passing support
  .changeset/pre.json
  .changeset/slow-humans-drive.md
  CHANGELOG.md
  README.md
  benchmark/serialization-comparison.mts
  benchmark/serialization-modes.ts
  examples/advanced-serialization/README.md
  examples/advanced-serialization/bigint-calculations.ts
  examples/advanced-serialization/buffer-processing.ts
  examples/advanced-serialization/collection-processing.ts
  examples/advanced-serialization/error-preservation.ts
  examples/advanced-serialization/migration-guide.md
  examples/advanced-serialization/socket-transfer.ts
  package.json
  specs/enhance/002-complete-remaining-phases-2-4-advanced/enhancement.md
  specs/enhance/002-complete-remaining-phases-2-4-advanced/plan.md
  specs/enhance/002-complete-remaining-phases-2-4-advanced/spec.md
  specs/enhance/002-complete-remaining-phases-2-4-advanced/tasks.md
  src/child/agent.ts
  src/index.ts
  src/parent/ipc-client.ts
  src/parent/parent-proxy.ts
  src/parent/procxy.ts
  src/shared/protocol.ts
  src/types/options.ts
  src/types/procxy.ts
  tests/integration/advanced-serialization.test.ts
Due: oxfmt, oxlint --fix

refactor: Simplify proxy instantiation in buffer processing benchmark
  benchmark/serialization-comparison.mts
Due: none

Path conditions:
  oxfmt: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
