Repository pradeepmouli/procxy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

test: validate full CI/CD automation pipeline (#47)
  .github/test-run.md
  pnpm-lock.yaml
Due: oxfmt

fix: simplify release workflow to use changeset publish
  .github/workflows/release.yml
Due: none

fix: switch to changesets/action for version PR approach
  .github/workflows/release.yml
Due: none

ci: standardize job name to CI, merge quality/test/build into single job
  .github/workflows/ci.yml
Due: none

chore: replace auto-approve with Copilot-driven dependency triage
  .github/workflows/auto-approve-deps.yml
Due: none

chore: auto-approve deps but leave merge to user
  .github/workflows/auto-approve-deps.yml
Due: none

chore: exit changeset pre-release alpha mode
  .changeset/pre.json
Due: oxfmt

fix: avoid YAML document separator in workflow script
  .github/workflows/auto-approve-deps.yml
Due: none

fix: use RELEASE_TOKEN in release workflow to trigger downstream workflows
  .github/workflows/release.yml
Due: none

docs: add comment explaining YAML separator workaround in auto-approve workflow
  .github/workflows/auto-approve-deps.yml
Due: none

fix: address code quality, reuse, and efficiency issues across source
  src/child/agent.ts
  src/child/child-proxy.ts
  src/parent/ipc-client.ts
  src/parent/procxy.ts
  src/shared/debug.ts
  src/shared/module-resolver.ts
Due: oxfmt, oxlint --fix

fix: resolve test failures and lint warnings
  package.json
  pnpm-lock.yaml
  src/child/agent.ts
  src/parent/procxy.ts
  src/shared/module-resolver.ts
  tests/integration/event-emitter.test.ts
  tests/integration/timeouts.test.ts
Due: oxfmt, oxlint --fix

chore: version packages (#50)
  .changeset/1773460678.md
  CHANGELOG.md
  package.json
Due: oxfmt

ci: broaden pull_request trigger, exclude sub** branches
  .github/workflows/ci.yml
Due: none

ci: use branches-ignore for push trigger
  .github/workflows/ci.yml
Due: none

ci: remove redundant pull_request trigger
  .github/workflows/ci.yml
Due: none

chore: add Copilot review instructions for code-only reviews
  .github/copilot-review-instructions.md
Due: oxfmt

chore: add generated agent skills
  skills/procxy/SKILL.md
  skills/procxy/references/classes.md
  skills/procxy/references/functions.md
  skills/procxy/references/types.md
Due: oxfmt

chore: add GitHub Pages docs deployment workflow
  .github/workflows/docs.yml
  package.json
  pnpm-lock.yaml
Due: oxfmt

feat: add speckit.review.slop — AI slop detection agent
  .specify/extensions/review/commands/run.md
  .specify/extensions/review/commands/slop.md
  .specify/extensions/review/extension.yml
Due: oxfmt

chore: register speckit.review.slop in .claude, .agents, .github
  .agents/commands/speckit.review.slop.md
  .claude/commands/speckit.review.slop.md
  .claude/skills/speckit-review.slop/SKILL.md
  .github/agents/speckit.review.slop.agent.md
  .github/prompts/speckit.review.slop.prompt.md
Due: oxfmt

chore(deps): update typedoc-plugin-to-skills to 0.4.2
  package.json
  pnpm-lock.yaml
  skills/procxy/references/classes.md
  skills/procxy/references/functions.md
  skills/procxy/references/types.md
Due: oxfmt

chore(deps): update typedoc-plugin-to-skills to 0.5.0 — audit engine + quality improvements
  package.json
  pnpm-lock.yaml
Due: oxfmt

chore(deps): update typedoc-plugin-to-skills to 0.5.1 — scoped audit
  package.json
  pnpm-lock.yaml
Due: oxfmt

chore(deps): update typedoc-plugin-to-skills to 0.6.0 — JSDoc tag conventions
  package.json
  pnpm-lock.yaml
  skills/procxy/SKILL.md
  skills/procxy/references/classes.md
  skills/procxy/references/functions.md
  skills/procxy/references/types.md
Due: oxfmt

fix: add explicit rootDir to tsconfig
  tsconfig.json
Due: oxfmt

ci(deps): bump pnpm/action-setup from 4 to 5
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
Due: none

fix(ci): use pull_request_target so GITHUB_TOKEN has write access for dependabot PRs
  .github/workflows/auto-approve-deps.yml
Due: none

chore: phase 1 public-consumption sweep
  .github/FUNDING.yml
  CODE_OF_CONDUCT.md
  LICENSE
  SECURITY.md
  package.json
Due: oxfmt

chore: remove ad-hoc type-check scratch files
  test-type-check-v8-sanitize.ts
  test-type-check.ts
Due: oxfmt, oxlint --fix

docs(readme): normalize alpha disclaimer to portfolio-canonical wording
  README.md
Due: oxfmt

chore: normalize pnpm version to 10.32.0
  package.json
Due: oxfmt

docs: scaffold VitePress + TypeDoc docs site at apps/docs
  .github/workflows/docs.yml
  .gitignore
  README.md
  apps/docs/.gitignore
  apps/docs/.vitepress/config.ts
  apps/docs/.vitepress/typedoc.json
  apps/docs/guide/getting-started.md
  apps/docs/guide/installation.md
  apps/docs/guide/usage.md
  apps/docs/index.md
  apps/docs/package.json
  apps/docs/scripts/escape-api-md.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, oxlint --fix

Path conditions:
  oxfmt: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
