Repository pradeepmouli/procxy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

Update examples/advanced-serialization/error-preservation.ts
  examples/advanced-serialization/error-preservation.ts
Due: oxfmt, oxlint --fix

Update examples/advanced-serialization/socket-transfer.ts
  examples/advanced-serialization/socket-transfer.ts
Due: oxfmt, oxlint --fix

Update benchmark/serialization-modes.ts
  benchmark/serialization-modes.ts
Due: oxfmt, oxlint --fix

Update tests/integration/advanced-serialization.test.ts
  tests/integration/advanced-serialization.test.ts
Due: oxfmt, oxlint --fix

Update build and type-check scripts to use tsgo; update @typescript/native-preview version
  package.json
  pnpm-lock.yaml
Due: oxfmt

Fix formatting in advanced serialization test for consistency
  tests/integration/advanced-serialization.test.ts
Due: oxfmt, oxlint --fix

Refactor integration tests to use 'using' syntax for proxy management
  tests/integration/async-methods.test.ts
  tests/integration/basic-invocation.test.ts
  tests/integration/callbacks.test.ts
  tests/integration/concurrent-calls.test.ts
  tests/integration/constructor-args.test.ts
  tests/integration/error-propagation.test.ts
  tests/integration/event-emitter.test.ts
  tests/integration/memory-leak.test.ts
  tests/integration/module-resolution.test.ts
  tests/integration/optional-params.test.ts
  tests/integration/performance.test.ts
  tests/integration/process-options.test.ts
  tests/integration/property-sync.test.ts
  tests/integration/timeouts.test.ts
Due: oxfmt, oxlint --fix

Bump version to 0.1.0-alpha.4 in package.json
  package.json
Due: oxfmt

Update CI and release workflows to use 'master' branch and adjust Node.js version matrix
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat: add child-initiated dispose mechanism for graceful termination
  .github/agents/copilot-instructions.md
  .github/renovate.json
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/contracts/ipc-messages.md
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/data-model.md
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/enhancement.md
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/plan.md
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/quickstart.md
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/research.md
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/spec.md
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/tasks.md
  src/child/agent.ts
  src/child/child-proxy.ts
  src/index.ts
  src/parent/ipc-client.ts
  src/parent/procxy.ts
  src/shared/protocol.ts
  src/types/isomorphism.ts
  src/types/procxy.ts
  tests/integration/child-dispose.test.ts
  tests/unit/child-proxy.test.ts
  tests/unit/isomorphism.test.ts
  tests/unit/procxy-signatures.test.ts
  tests/unit/types.test.ts
  tsconfig.json
Due: oxfmt, oxlint --fix

Update procxy.ts
  src/types/procxy.ts
Due: oxfmt, oxlint --fix

Fix module resolution to support both .ts and .js extensions
  src/shared/module-resolver.ts
Due: oxfmt, oxlint --fix

Update isomorphism.ts
  src/types/isomorphism.ts
Due: oxfmt, oxlint --fix

Update enhancement.md
  specs/enhance/003-add-dispose-hook-child-parent-if-child-initiates/enhancement.md
Due: oxfmt

Update module-resolver.ts
  src/shared/module-resolver.ts
Due: oxfmt, oxlint --fix

Enhance Procxy to support EventEmitter classes
  src/child/child-proxy.ts
Due: oxfmt, oxlint --fix

Add changeset for module resolution and EventEmitter fixes
  .changeset/fix-typescript-eventemitter.md
Due: oxfmt

Apply linter formatting to test files
  tests/integration/module-resolution.test.ts
  tests/unit/module-resolver.test.ts
Due: oxfmt, oxlint --fix

Fix pnpm version in GitHub workflows to match package.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Lower coverage thresholds to prevent CI failures
  vitest.config.ts
Due: oxfmt, oxlint --fix

Add runtime tests for isomorphism utilities and adjust coverage thresholds
  tests/unit/isomorphism.test.ts
  vitest.config.ts
Due: oxfmt, oxlint --fix

Improve property synchronization filtering to match parent proxy capabilities
  src/child/child-proxy.ts
Due: oxfmt, oxlint --fix

Remove underscore prefix filter to support nested properties
  src/child/child-proxy.ts
Due: oxfmt, oxlint --fix

Implement lazy property tracking for efficient IPC
  src/child/agent.ts
  src/child/child-proxy.ts
  src/shared/protocol.ts
Due: oxfmt, oxlint --fix

Send constructor-set properties via INIT_PROPERTIES message
  src/child/agent.ts
  src/child/child-proxy.ts
  src/parent/ipc-client.ts
  src/shared/protocol.ts
  tests/fixtures/constructor-property-worker.ts
  tests/integration/property-sync.test.ts
Due: oxfmt, oxlint --fix

Add tests for class field initializer property sync
  tests/fixtures/default-property-worker.ts
  tests/integration/property-sync.test.ts
Due: oxfmt, oxlint --fix

Update version to 0.1.0-alpha.5 and add changeset for TypeScript EventEmitter fixes
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: oxfmt

Address PR feedback: refactor property validation and remove dead code
  src/child/agent.ts
  src/child/child-proxy.ts
  src/parent/parent-proxy.ts
  src/shared/property-utils.ts
  src/shared/protocol.ts
  tests/fixtures/constructor-property-worker.ts
Due: oxfmt, oxlint --fix

Adjust coverage thresholds and make CI coverage checks non-blocking
  .github/workflows/ci.yml
  vitest.config.ts
Due: oxfmt, oxlint --fix

Bump version to 0.1.0-alpha.6, add changelog entry for pkg cleanup, and include new changeset
  .changeset/pre.json
  .changeset/sixty-roses-jump.md
  CHANGELOG.md
  package.json
Due: oxfmt

Enhance serialization and sanitization features
  src/child/agent.ts
  src/child/child-proxy.ts
  src/child/event-bridge.ts
  src/index.ts
  src/parent/ipc-client.ts
  src/parent/procxy.ts
  src/shared/serialization.ts
  src/types/options.ts
  src/types/procxy.ts
  test-type-check-v8-sanitize.ts
  tests/fixtures/circular-json-worker.ts
  tests/fixtures/event-worker.ts
  tests/fixtures/property-worker.ts
  tests/integration/event-emitter.test.ts
  tests/integration/property-sync.test.ts
  tests/unit/v8-serialization.test.ts
Due: oxfmt, oxlint --fix

Refactor serialization handling, update CI workflows, and enhance changelog for version 0.1.0-alpha.7
  .changeset/config.json
  .changeset/pre.json
  .changeset/yummy-hoops-shake.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/template-sync.yml
  CHANGELOG.md
  iox-matter-bridge
  package.json
  src/child/child-proxy.ts
  src/child/event-bridge.ts
  src/parent/ipc-client.ts
  src/parent/procxy.ts
  src/shared/module-resolver.ts
  src/shared/property-utils.ts
  src/types/options.ts
Due: oxfmt, oxlint --fix

Bump version to 0.1.0-alpha.8, add resolver fixes to changelog, and create changeset for polite-rules-shout
  .changeset/polite-rules-shout.md
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: oxfmt

Update dependencies and enhance module resolution caching
  package.json
  pnpm-lock.yaml
  src/shared/module-resolver.ts
Due: oxfmt, oxlint --fix

Bump version to 0.1.0-alpha.9, implement caching for module resolution, and update changelog
  .changeset/pre.json
  .changeset/slow-steaks-flow.md
  CHANGELOG.md
  package.json
Due: oxfmt

feat(dedup): add procxy deduplication for concurrent creation
  initialConfigs.json
  server/2780c89d26a9afacf0ea1fbefe27aa48/events.lastEventNumber
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.__nextNumber__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.__number__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.__features__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.rebootCount
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.totalOperationalHoursCounter
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.network.ble
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.network.operationalPort
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.operationalCredentials.commissionedFabrics
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.parts.aggregator.__number__
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.name
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.productId
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.productDescription.vendorId
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.subscription.subscriptions
  server/2780c89d26a9afacf0ea1fbefe27aa48/sessions.resumptionRecords
  server/bridge/data.discriminator
  server/bridge/data.passcode
  server/bridge/data.productName
  server/bridge/data.productid
  server/bridge/data.uniqueid
  server/bridge/data.vendorid
  specs/enhance/004-add-concurrency-mutex-support-avoid-race/enhancement.md
  specs/enhance/004-add-concurrency-mutex-support-avoid-race/spec.md
  src/parent/procxy.ts
  tests/integration/deduplication.test.ts
  tests/unit/deduplication.test.ts
Due: oxfmt, oxlint --fix

feat(core): implement procxy deduplication for concurrent creation
  server/2780c89d26a9afacf0ea1fbefe27aa48/events.lastEventNumber
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.rebootCount
  server/2780c89d26a9afacf0ea1fbefe27aa48/root.generalDiagnostics.totalOperationalHoursCounter
  specs/enhance/004-add-concurrency-mutex-support-avoid-race/enhancement.md
  src/parent/procxy.ts
  tests/integration/deduplication.test.ts
Due: oxfmt, oxlint --fix

feat(dedup): add deduplication for singleton procxies and update version to 0.1.0-alpha.10
  .changeset/brown-forks-make.md
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: oxfmt

feat(gitignore): add iox-matter-bridge to .gitignore
  .gitignore
Due: none

Path conditions:
  oxfmt: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
